.sidebarContainer {
    width: 240px;
    background-color: #091336;
    grid-area: nav;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

img {
    height: 28px;
    width: 109px;
    padding: 20px 0 0 12px;
}

.nav {
    grid-area: nav;
    background-color: #091336;
    /*padding: 20px;*/
    width: 100%;
}
.item {

    height: 52px;
    display: flex;
    align-items: center;
    padding-left: 20px;
}
.nav a {
    /*font-size: large;*/

    color: #FFFFFF99;
    text-decoration: none;
    margin-left: 5px;
    font-family: 'sans-serif';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px
}
.item a.activeLink {
    font-weight: bold;
}
.item:hover {
    transform: scale(1.03);
}

.icon {
    color: #FFFFFF8F;
    margin-right: 12px;
}

.buttonContainer {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}